@font-face {
  font-family: Indie Flower;
  src: url("../assets/font/IndieFlower-Regular.ttf");
}

body {
  font-family: Indie Flower;
  background-color: black;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.text {
  color: #FFFFFF;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
